<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key><string>com.github.tillkuhn.billy-idle</string>
   <key>ProgramArguments</key>
   <array>
       <string>$HOME/bin/billy</string>
       <string>track</string>
       <string>-idle</string>
       <string>2m</string>
       <string>-interval</string>
       <string>10s</string>

       <!--
           <string>-db-dir</string>
           <string>$HOME/.billy-idle</string>
       -->

       <!-- optional -->
       <string>-debug</string>
    </array>
    <key>StandardOutPath</key><string>$HOME/.billy-idle/default/agent.log</string>
    <key>StandardErrorPath</key><string>$HOME/.billy-idle/default/agent.log</string>
    <key>Debug</key><true/>
   <key>RunAtLoad</key><true/>
</dict>
</plist>