<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    See https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPSystemStartup/Chapters/CreatingLaunchdJobs.html
    For property List format
-->
<plist version="1.0">
<dict>
   <key>Label</key><string>com.github.tillkuhn.billy-idle</string>
   <key>ProgramArguments</key>
   <array>
       <string>$HOME/bin/billy</string>
       <string>track</string>
       <string>--idle</string>
       <string>7m</string>
       <string>--interval</string>
       <string>20s</string>

       <!-- optional -->
       <string>--debug</string>
       <string>--grafana-host</string>
       <string>$GRAFANA_HOST</string>
       <string>--grafana-auth</string>
       <string>$GRAFANA_AUTH</string>
    </array>
    <key>StandardOutPath</key><string>$HOME/.billy-idle/default/agent.log</string>
    <key>StandardErrorPath</key><string>$HOME/.billy-idle/default/agent.log</string>
    <key>Debug</key><true/>
   <key>RunAtLoad</key><true/>
</dict>
</plist>
